<app-admin-navbar></app-admin-navbar>


<div class="row deep-purple lighten-5">

  <div class="col s3  deep-purple lighten-4" >
    <app-admin-sidebar></app-admin-sidebar>
    <div style="height:700px"></div>
  </div>
  <div class="col s9">
    <div *ngIf="routeName=='book-form'"><app-book-form></app-book-form></div>
    <div *ngIf="routeName=='category-form'"><app-category-form></app-category-form></div>
    <div *ngIf="routeName=='categories-list'"><app-categories-list></app-categories-list></div>
    <div *ngIf="routeName=='books-list'"><app-books-list></app-books-list></div>
    <div *ngIf="routeName=='users-list'"><app-users-list></app-users-list></div>
  
</div>
