



<div class="grey lighten-3" style="height:4rem; padding-top:0px">
    <p class="center" style="font-size:20px; margin-top:3px; padding-top:10px"></p>
</div>


<img  src="assets/images/star.jpg"  alt=""
 style="height:20rem; width:100%">


<br><br>
<div class="container">
    <p style="font-size:18px">Choose Your Favorite Language</p>
</div>


<nav>  
    <div class="nav-wrapper grey lighten-3 list-container">
      
          <ul id="nav-mobile" class="hide-on-med-and-down" style="width:80%; margin:auto">
              
              <li *ngFor="let e of categoriesForView">
                <a routerLink="/"  class="btn white" style="color:black; font-size:20px ; font-weight:400" (click)="filterCategory(e.id)">{{e.name}}</a>
              </li>
              <li>
                  <a routerLink="/"  class="btn white" style="color:black; font-size:20px ; font-weight:400" (click)="unFilter()">All Categories</a>
                </li>
            </ul>
    </div>
</nav>
 


<div id="books-body" class="grey lighten-5">
  <br><br>
 
  <div *ngFor="let b of books; index as i" class="books-container" >  
      
    <div class="book-card">
      <div class="card"  style="height:21rem; width:18rem">
        <div class="card-image"  style="height:10rem; width:18rem">
          <img [src]="b.pictureUrl"  style="height:10rem; width:18rem">
          
        </div>
        <div class="card-content" style="height:6rem">
          <p style="font-weight:400; font-size:16px">{{b.name}}</p>
        </div>
        <div *ngIf="b.quantity == 0" class="card-action" >
          <a routerLink="/" (click)="addToCart(b)">Add To Cart</a>
        </div>
        <div *ngIf="b.quantity > 0" class="card-action yellow lighten-5" style="width:100%" >
          <a  (click)="addToCart(b)" class="btn-floating btn waves-effect waves-light cyan lighten-3" style="margin-right:60px"><i  class="fa fa-plus"></i></a>

          <span style="font-size:18px">{{b.quantity}}</span>

          <a  (click)="decToCart(b)" class="btn-floating btn waves-effect waves-light cyan lighten-3 right" ><i  class="fa fa-minus" ></i></a>
        </div>
      </div>
    </div>
      
  </div>
 

