
<br><br>
<div class="row">
  <div class="col s1"></div>
  <div class="col s9">
    <div class="card">
      <br>
      <h4 class="center">Categories Table</h4>
      <br>
      <table class="bordered striped" >
        <thead>
          <tr>
            <th class="center">Category Number</th>
            <th class="center">Category Name</th>
            <th class="center">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of categories;let i = index">
            <td class="center">{{i+1}}</td>
            <td class="center">{{c.name}}</td>
            <td class="center">  
                 <a type="button" (click)="deleteCategory(c._id)" href="admin/categories-list" routerLink="admin/categories-list" ><i class="material-icons small" style="color:#0099ff">delete</i></a>   
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col s8"></div>
</div>




