

<br><br>



  <div class="center collection z-depth-3" style="color:#8585e0">
    <a routerLink="/admin/users-list" class="collection-item" style="color:#8585e0"><i class="left material-icons">account_circle</i>View All Users</a>
    <a routerLink="/admin/books-list" class="collection-item" style="color:#8585e0">Books List</a>
    <a routerLink="/admin/book-form" class="collection-item" style="color:#8585e0">Add Book</a>
    <a routerLink="/admin/category-form" class="collection-item" style="color:#8585e0">Add Books Category</a>
    <a routerLink="/admin/categories-list" class="collection-item " style="color:#8585e0">Category List</a>
    <a routerLink="/admin/orders-list" class="collection-item" style="color:#8585e0">Orders List</a>
    <a routerLink="/admin" class="collection-item" style="color:#8585e0">other</a>
    <a routerLink="/admin" class="collection-item" style="color:#8585e0">other</a>
    <a routerLink="/admin" class="collection-item" style="color:#8585e0">other</a>
  </div>


